$header-height: 60px;
$timing: 240ms;

.main-header {
    // background: linear-gradient(9deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.15) 150%);

    .container {
        margin: auto;
        display: flex;
        justify-content: space-between;
        max-width: $max-width;
        height: $header-height;
    }
}

#logo {
    display: block;
    color: #444;
    text-decoration: none;
    font-size: 16px;
    line-height: $header-height;
    font-weight: bold;
    padding: 0 12px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.main-nav {
    font-size: 16px;

    ul {
    line-height: $header-height;
    margin: 0;
        @include mq(tablet) {
            padding-right: 12px;
        }
    }

    a {
        padding: 12px;
        color: $dark-grey;
        transition: all 120ms ease;

        &:hover {
            text-decoration: none;
            color: $green;
        }
    }
}


// Device nav:
#nav-toggle {
    display: none;

    &:checked ~ .main-menu {
        z-index: 10;
        opacity: 1;
        transform: translateY(0);
        transition: opacity $timing ease,
                    transform $timing ease;
    }
}

.nav-trigger {
    display: flex;
    margin-top: 8px;
    padding: 10px;
    width: 44px;
    height: 44px;
    flex-flow: column;
    justify-content: space-between;

    &:hover {
        cursor: pointer;
    }

    @include mq(tablet) {
        display: none;
    }

    span {
        display: inline-block;
        text-indent: -9999px;
    }

    &::before,
    &::after {
        display: block;
        content: '';
    }

    &::before,
    &::after,
    span {
        height: 1px;
        width: 100%;
        background: $dark-grey;
    }
}

.main-menu {
    @include mq($until: tablet) {
        display: none;
        width: 100%;
        max-width: 300px;
        margin: 0;
        padding: 0;
        transition: opacity $timing ease,
                    transform $timing ease,
                    z-index 0ms ease $timing;
        position: absolute;
        right: 0;
        display: flex;
        flex-flow: column;
        opacity: 0;
        z-index: -10;
        background: white;
        transform: translateY(-10px);

        li {
            margin: 0;

            a {
                display: block;
                padding: 0 16px;
            }
        }
    }

    @include mq(tablet) {
        display: block;
    }
}
