.section {
  &--wrapper {
    display: flex;
    flex-flow: row wrap;
  }

  &--half {
    width: 50%;
  }

  &.align-center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  &--intro,
  &--closer,
  &--medium {
    margin: auto;

    @include mq(tablet) {
      max-width: 80%;
    }
  }

  &--medium {
    font-size: 20px;
    padding: 24px 0;

    h4 {
      font-weight: bold;
    }
  }

  &--intro,
  &--closer {
    font-size: 24px;
    text-align: center;
  }

  &--intro {
    padding-bottom: 96px;

    h4:first-child {
      color: #666;
    }

    h5 {
      font-weight: normal;
      font-size: 1.25em;
      color: #666;
    }
  }

  &--closer {
    padding: 48px 0;
  }

  h3 {
    position: relative;

    &::before {
      position: absolute;
      content: '';
      width: 60px;
      height: 2px;
      top: 42px;
      background: linear-gradient(
        -9deg,
        $green 0%,
        saturate($green, 10%) 100%
      );
    }
  }

  &--wrapper--home {
    .section {
      margin-bottom: 48px;
    }
    
    @include mq(tablet) {
      .section {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        width: 100%;
      }
    }

    h3 {
      @extend .h2;
      padding: 0 calc(#{$spacing-desktop} * 2) 24px 0;
      margin: 0;
      text-transform: uppercase;

      @include mq(tablet) {
        width: 33%;
        padding-bottom: 0;
        text-align: right;
      }

      &::before {
        @include mq(tablet) {
          width: 100px;
          top: 48px;
          right: calc(#{$spacing-desktop} * 2);
        }

        @include mq(desktop) {
          height: 4px;
          top: 64px;
        }
      }
    }

    p {
      @extend .large;
      margin-top: 0;
      margin-bottom: 0;
      display: block;

      @include mq(tablet) {
        width: 60%;
        font-size: 20px;
      }
    }
  }

  &--wrapper--narrow {
    margin: auto;

    .section {
      display: block;
      clear: both;
      width: 100%;
      max-width: 960px;
      margin: auto;
      padding-bottom: 32px;

      h3 {
        &::before {
          top: 100%;
          left: 0;
          width: 60px;
          height: 2px;
          z-index: -1;

          @include mq(tablet) {
            width: 100px;
          }

          @include mq(desktop) {
            height: 4px;
          }
        }
      }
    }
  }

  &--wrapper--centered {
    .section--intro {
      margin: auto;
    }

    h3::before {
      display: none;
    }
  }

  &--wrapper--about {
    .section {
      padding: 64px 0 32px;
      margin: auto;
    }

    h3::before {
      display: none;
    }

    h1,
    h2 {
      position: relative;

      &::after {
        content: '';
        display: block;
        height: 4px;
        width: 120px;
        background: $green;
        position: absolute;
        bottom: 0;
      }
    }
  }

  &--contact {
    padding-top: 120px;
    margin: auto;
    max-width: 600px;

    h1 {
      font-size: 36px !important;
    }

    h2 {
      font-size: 24px !important;
    }
  }

  &.bg {
    &--green {
      margin: 24px 0 48px 0;
      padding: 42px 0 32px;
      background: $green;
      max-width: 100%;
      width: 100%;
      
      &, 
      h4:first-child {
        color: #FFF;
      }
    }
  }
}
