@import 'base/variables';

body {
    font-family: 'Raleway', sans-serif;
}

header,
main,
footer {
    .container {
        max-width: 1024px;
        margin: auto;
    }
}

@import 'components/hero';
@import 'components/header';
