@import "base/variables";
@import "../../../node_modules/sass-mq/mq";
@import "base/typography";

body {
  font-family: "Raleway", sans-serif;
  color: #333;
}

header,
main,
footer {
  .container {
    max-width: $max-width;
    margin: auto;
  }
}

main {
  padding-bottom: 24px;
  min-height: calc(90vh - 24px);
}

.container {
  padding-left: $spacing-mobile;
  padding-right: $spacing-mobile;

  @include mq(desktop) {
    padding-left: $spacing-desktop;
    padding-right: $spacing-desktop;
  }
}

.highlight {
  &--green {
    color: $green;
  }
}

@import "components/hero";
@import "components/header";
@import "components/callout";
@import "components/section";
@import "components/footer";
