{% set sectionClass = 'hero--'~section %}
<div class="hero {{ sectionClass }} {% if hero_align %}text-align-{{ hero_align }}{% endif %}">

    <div class="hero--copy container">
        {{ hero_body | markdown | safe }}
    </div>

    <picture>
        {# <source type="image/webp"
                media="(max-width: 30em)"
                srcset="{{ hero_image_xsmall_1x_webp }},
                        {{ hero_image_xsmall_2x_webp }} 2x"
                sizes="100vw"
                /> #}
        <source media="(max-width: 30em)"
                srcset="{{ hero_image_xsmall_1x_jpg }},
                        {{ hero_image_xsmall_2x_jpg }} 2x"
                sizes="100vw"
                />
        {# <source type="image/webp"
                media="(max-width: 48em)"
                srcset="{{ hero_image_small_1x_webp }},
                        {{ hero_image_small_2x_webp }} 2x"
                sizes="100vw"
                /> #}
        <source media="(max-width: 48em)"
                srcset="{{ hero_image_small_1x_jpg }},
                        {{ hero_image_small_2x_jpg }} 2x"
                sizes="100vw"
                />
        {# <source type="image/webp"
                media="(min-width: 48em)"
                srcset="{{ hero_image_medium_1x_webp }},
                        {{ hero_image_medium_2x_webp }} 2x"
                sizes="100vw"
                /> #}
        <source media="(max-width: 48em)"
                srcset="{{ hero_image_medium_1x_jpg }},
                        {{ hero_image_medium_2x_jpg }} 2x"
                sizes="100vw"
                />
        {# <source type="image/webp"
                media="(min-width: 64em)"
                srcset="{{ hero_image_large_1x_webp }},
                        {{ hero_image_large_2x_webp }} 2x"
                sizes="100vw"
                /> #}
        <source media="(min-width: 64em)"
                srcset="{{ hero_image_large_1x_jpg }},
                        {{ hero_image_large_2x_jpg }} 2x"
                sizes="100vw"
                />
        <img 
            loading="lazy"
            class="hero--image"
            src="{{ hero_image_medium_1x_jpg }}"
            alt="{{ hero_alt }}" 
        />
    </picture>

</div>