{% set sectionClass = 'hero--'~section %}
<div class="hero {{ sectionClass }} {% if hero_align %}text-align-{{ hero_align }}{% endif %}">

    <div class="hero--copy container">
        {{ hero_body | markdown | safe }}
    </div>

    <img loading="lazy" class="hero--image" src="{{ hero_image }}" />

</div>
