<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header class="main-header">
			<div class="container">
				<a id="logo" href="{{ '/' | url }}">Azolla</a>
				{% include "components/nav.njk" %}
			</div>
		</header>

		<main>
				{% if hero_body %}
				{% include "components/hero.njk" %}
				{% endif %}
			<div class="container">
				{{ layoutContent | safe }}
			</div>
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>
