---
layout: layouts/base.njk
section: page
---


{% if hero_body %}
<div class="hero {% if hero_align %}align-{{ hero_align }}{% endif %}">

    <div class="hero--copy">
        {{ hero_body | markdown | safe }}
    </div>

    <img class="hero--image" src="{{ hero_image }}" />

</div>
{% endif %}

{{ layoutContent | safe }}